nav {
  box-sizing: border-box;
}
@tailwind base;
@tailwind components;
@tailwind utilities;




.cursor::after {
    display: block;
    content: '';
    position: absolute;
    width: 4px;
    height: 100%;
    background-color: #fff;
    animation: cursor 0.6s linear infinite alternate;
    will-change: opacity;
  }
   
  @keyframes cursor {
    0%,
    40% {
      opacity: 1;
    }
   
    60%,
    100% {
      opacity: 0;
    }
  }

  #portfolio, #contactMe {
    opacity: 1;
    transition: opacity 0.5s; /* Increase transition duration for a smoother effect */
  }
  
  .visible {
    opacity: 0;
  }
  
  
  
  